  /* Stilizare pentru butonul de adăugare pacient nou */
        #add-cabinet-btn {
            background-color: #19766f;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
            display: inline-block;
            transition: background-color 0.3s;
        }

       #add-cabinet-btn:hover {
             background-color: #12514b;
        }